<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843027791745-5kgg7jcl6rgrnio702nf40f5lhnbhm4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843027791745-5kgg7jcl6rgrnio702nf40f5lhnbhm4a</string>
	<key>API_KEY</key>
	<string>AIzaSyAkJxh4f3g-DGBV-ywwXT0T4EXDPbwpa4g</string>
	<key>GCM_SENDER_ID</key>
	<string>843027791745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.dance</string>
	<key>PROJECT_ID</key>
	<string>danceswag-5058f</string>
	<key>STORAGE_BUCKET</key>
	<string>danceswag-5058f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843027791745:ios:2fe766c49e0a3905783280</string>
	<key>DATABASE_URL</key>
	<string>https://danceswag-5058f.firebaseio.com</string>
</dict>
</plist>